footer.footer
    .footer__white
        //- NAV
        section.nav.container
            .nav__item
                h3.nav__title
                    | Популярные
                    br
                    | категории
                ul.nav__menu
                    li.nav__menu-item
                        a.nav__link(href='#') Насадки
                    li.nav__menu-item
                        a.nav__link(href='#') Инструменты
                    li.nav__menu-item
                        a.nav__link(href='#') Гель-лаки
                    li.nav__menu-item
                        a.nav__link(href='#') Дизайн
                    li.nav__menu-item
                        a.nav__link(href='#') Наращивание
                    li.nav__menu-item
                        a.nav__link(href='#') Оборудование
            .nav__item
                h3.nav__title
                    | Популярные
                    br
                    | категории
                ul.nav__menu
                    li.nav__menu-item
                        a.nav__link(href='#') Насадки
                    li.nav__menu-item
                        a.nav__link(href='#') Инструменты
                    li.nav__menu-item
                        a.nav__link(href='#') Гель-лаки
                    li.nav__menu-item
                        a.nav__link(href='#') Дизайн
                    li.nav__menu-item
                        a.nav__link(href='#') Наращивание
                    li.nav__menu-item
                        a.nav__link(href='#') Оборудование
            .nav__item
                h3.nav__title
                    | Популярные
                    br
                    | категории
                ul.nav__menu
                    li.nav__menu-item
                        a.nav__link(href='#') Насадки
                    li.nav__menu-item
                        a.nav__link(href='#') Инструменты
                    li.nav__menu-item
                        a.nav__link(href='#') Гель-лаки
                    li.nav__menu-item
                        a.nav__link(href='#') Дизайн
                    li.nav__menu-item
                        a.nav__link(href='#') Наращивание
                    li.nav__menu-item
                        a.nav__link(href='#') Оборудование
            .nav__item
                h3.nav__title
                    | Популярные
                    br
                    | категории
                ul.nav__menu
                    li.nav__menu-item
                        a.nav__link(href='#') Насадки
                    li.nav__menu-item
                        a.nav__link(href='#') Инструменты
                    li.nav__menu-item
                        a.nav__link(href='#') Гель-лаки
                    li.nav__menu-item
                        a.nav__link(href='#') Дизайн
                    li.nav__menu-item
                        a.nav__link(href='#') Наращивание
                    li.nav__menu-item
                        a.nav__link(href='#') Оборудование

    .footer__white
        .footer__top.container
            .footer__item
                //- SOCIAL
                ul.social
                    li.social__item
                        a.social__link.social__yt(href, target='_blank')
                    li.social__item
                        a.social__link.social__vk(href, target='_blank')
                    li.social__item
                        a.social__link.social__fb(href, target='_blank')
                    li.social__item
                        a.social__link.social__in(href, target='_blank')
            .footer__info
                span.footer__info-address 198555, Невский пр. 140, офис 140
                span.footer__info-telephone 8 (812) 123-45-67
                button.footer__info-button(type='button') Обратный звонок
    .footer__bottom.container
        p.footer__bottom-text Лучший магазин (с) 2022 Все права защищены. Интернет-магазин оборудования для салонов красоты
        a.footer__bottom-link(href='#') Политика конфиденциальности