header.header
    .container
        nav
            ul.menu
                li.menu__item
                    a.menu__link(href='#') Доставка
                li.menu__item
                    a.menu__link(href='#') Оплата
                li.menu__item
                    a.menu__link(href='#') Отзывы
                li.menu__item
                    a.menu__link(href='#') Вопрос - ответ
                li.menu__item
                    a.menu__link(href='#') Контакты
    .header__page-white
        .header__top.container
            .header__logo
                .header__logo-img
                .header__logo-title beauty
            .header__search
                img.header__search-img(src='img/search.svg', alt='search')
                input.header__search-input(type='search', name='search')
            .header__info
                span.header__info-telephone 8 (812) 123-45-67
                button.header__info-button(type='button') Обратный звонок
    .header__page-white
        .header__bottom
            .container
                ul.menu
                    li.menu__item
                        a.menu__link(href='#') Парикмахерская
                    li.menu__item
                        a.menu__link(href='#') Барбершоп
                    li.menu__item
                        a.menu__link(href='#') Маникюр
                    li.menu__item
                        a.menu__link(href='#') Педикюр
                    li.menu__item
                        a.menu__link(href='#') Массаж
                    li.menu__item
                        a.menu__link(href='#') Мебель