doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    title Beauty
    link(rel='shortcut icon', href='img/logo.png', type='image/x-icon')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
    link(rel='stylesheet', href='styles/style.css')
  body
    include modules/header
    //- BANNER
    section.banner
        .container
            h1.banner__title Супер кресло
            p.banner__text Текст акции всегда отражает суть, а не просто болтовню, поэтому внимательнее
            a.banner__link(href='#') Подробнее
    //- CATALOG
    section.catalog.container
        h2.catalog__title Специальные предложения
        //- GRID
        .grid
            .grid__item
                img.grid__img(src='img/chair.png', alt='Chair')
                p.grid__title Парикмахерское кресло «Норм» гидравлическое
                p.grid__price 9 900 ₽
                a.grid__link(href='#') Купить
            .grid__item
                img.grid__img(src='img/chair.png', alt='Chair')
                p.grid__title Парикмахерское кресло «Норм» гидравлическое
                p.grid__price 9 900 ₽
                a.grid__link(href='#') Купить
            .grid__item
                img.grid__img(src='img/chair.png', alt='Chair')
                p.grid__title Парикмахерское кресло «Норм» гидравлическое
                p.grid__price 9 900 ₽
                a.grid__link(href='#') Купить
            .grid__item
                img.grid__img(src='img/chair.png', alt='Chair')
                p.grid__title Парикмахерское кресло «Норм» гидравлическое
                p.grid__price 9 900 ₽
                a.grid__link(href='#') Купить
        //- SHOPS
        .shops
            .shops__grid
                .shops__item
                    h3.shops__title Получайте бонусы и подарки
                    p.shops__text 
                        | Каждый месяц разыгрываем
                        br
                        | 10 000 рублей для наших клиентов
                    input.shops__input(type='email', placeholder='Введите e-mail')
                img.shops__img(src='img/envelope.svg', alt='Envelope')
            .shops__grid
                .shops__item
                    h3.shops__title Заходите к нам
                    p.shops__text 
                        | Более 300 магазинов
                        br
                        | по всей России
                    a.shops__link(href='#') Карта магазинов
                img.shops__img(src='img/car.svg', alt='Car')
        //- COMPANY
        .company
            .company__item
                .company__img
                    img(src='img/impuls.png', alt='impuls')
            .company__item
                .company__img
                    img(src='img/impuls.png', alt='impuls')
            .company__item
                .company__img
                    img(src='img/impuls.png', alt='impuls')
            .company__item
                .company__img
                    img(src='img/impuls.png', alt='impuls')
            .company__item
                .company__img
                    img(src='img/impuls.png', alt='impuls')
            .company__item
                .company__img
                    img(src='img/impuls.png', alt='impuls')
            .company__item
                .company__img
                    img(src='img/impuls.png', alt='impuls')
            .company__item
                .company__img
                    img(src='img/impuls.png', alt='impuls')
            .company__item
                .company__img
                    img(src='img/impuls.png', alt='impuls')
            .company__item
                .company__img
                    img(src='img/impuls.png', alt='impuls')
            .company__item
                .company__img
                    img(src='img/impuls.png', alt='impuls')
            .company__item
                .company__img
                    img(src='img/impuls.png', alt='impuls')
        h2.catalog__title Вы недавно смотрели
        //- GRID
        .grid
            .grid__item
                img.grid__img(src='img/chair.png', alt='Chair')
                p.grid__title Парикмахерское кресло «Норм» гидравлическое
                p.grid__price 9 900 ₽
                a.grid__link(href='#') Купить
            .grid__item
                img.grid__img(src='img/chair.png', alt='Chair')
                p.grid__title Парикмахерское кресло «Норм» гидравлическое
                p.grid__price 9 900 ₽
                a.grid__link(href='#') Купить
            .grid__item
                img.grid__img(src='img/chair.png', alt='Chair')
                p.grid__title Парикмахерское кресло «Норм» гидравлическое
                p.grid__price 9 900 ₽
                a.grid__link(href='#') Купить
            .grid__item
                img.grid__img(src='img/chair.png', alt='Chair')
                p.grid__title Парикмахерское кресло «Норм» гидравлическое
                p.grid__price 9 900 ₽
                a.grid__link(href='#') Купить
    include modules/footer