// FONTS
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
$font: "Roboto", sans-serif;

// COLORS
$white: #ffffff;
$light-white: #efefef;
$pink: #f13c6e;
$gray: #828282;
$black: #333333;