.product  {
  padding: 25px 30px 34px;
  box-sizing: border-box;
  text-align: center;
  background-color: $white;
  &__img {
    margin-bottom: 20px;
  }
  &__title {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  &__price {
    margin: 0px 0px 10px 0px;
    padding: 19px 0px 14px;
    box-sizing: border-box;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  &__link {
    padding: 6px 41px;
    text-decoration: none;
    color: $white;
    background-color: $pink;
    border-radius: 30px;
    border: 2px solid $pink;
    transition: 0.4s ease;
    cursor: pointer;
    &:hover {
      color: $black;
      background-color: $white;
    }
  }
}