section.banner
  .container
     h1.banner__title Супер кресло
     p.banner__text Текст акции всегда отражает суть, а не просто болтовню, поэтому внимательнее
     a.banner__link(href='#') Подробнее
